In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Airlines_data.csv")
print(df.sample(3))
df.info()

                Airline    Source Destination            Route Dep_Time  \
197   Multiple carriers     Delhi      Cochin  DEL → BOM → COK    06:40
6460             IndiGo  Banglore       Delhi        BLR → DEL    18:25
4722        Jet Airways  Banglore      Cochin        BLR → DEL    11:40

     Arrival_Time Duration Total_Stops Additional_Info  Price  Month  \
197         19:15  12h 35m      1 stop         No info   9100      3
6460        21:20   2h 55m    non-stop         No info   4823      5
4722        22:50   7h 20m    non-stop         No info   3502      4

        WeekDay   Day
197   Wednesday  27.0
6460     Sunday  12.0
4722    Tuesday   9.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9450 entries, 0 to 9449
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          9450 non-null   object
 1   Source           9450 non-null   object
 2   Destination      9450 non-null   object
 3   Route            9449 non-null   object
 4   Dep_Time         9450 non-null   object
 5   Arrival_Time     9450 non-null   object
 6   Duration         9450 non-null   object
 7   Total_Stops      9250 non-null   object
 8   Additional_Info  9450 non-null   object
 9   Price            9450 non-null   int64
 10  Month            9450 non-null   int64
 11  WeekDay          9450 non-null   object
 12  Day              9214 non-null   float64
dtypes: float64(1), int64(2), object(10)
memory usage: 959.9+ KB

 # ``Answer the following Quesitons``

**Q1**
What is the average of the flight ticket price? Write your answer correct to two decimal places.

In [ ]:
mean_price= df["Price"].mean()
type(mean_price)
# print(mean_price.round(3))
str(np.round(mean_price,2))

# second decimal place is zero, that's why it's not showing, you have to change the formatting if you want to see.

'9027.9'

In [ ]:
help(np.around)

Help on _ArrayFunctionDispatcher in module numpy:

around(a, decimals=0, out=None)
    Round an array to the given number of decimals.

    `around` is an alias of `~numpy.round`.

    See Also
    --------
    ndarray.round : equivalent method
    round : alias for this function
    ceil, fix, floor, rint, trunc

**Q2**
During which month did the highest number of flights occur? Months are represented by numerical codes, with January corresponding to 1, February to 2, and so forth.

In [ ]:
highest_flight= df.groupby(["Month"])["Route"].count( )
print(highest_flight)
# it's month of MAY

Month
3    2388
4     926
5    3091
6    3044
Name: Route, dtype: int64

**Q3** Is the average price of flight tickets higher on weekends (Saturday and Sunday) or on weekdays (Remaining 5 days)?

In [ ]:
subset=df.groupby(["WeekDay"])["Price"].mean().sort_values()
weekend_avg= subset.loc[["Saturday","Sunday"]].mean()
weekdays_avg= subset.loc[["Monday","Tuesday","Thursday","Friday"]].mean()
print("Weekend average price:", weekend_avg)
print("Weekday average price:", weekdays_avg)

#weekend average price for flights is higher than weekday.

Weekend average price: 9079.055885022131
Weekday average price: 9021.21820924395

**Q4** Two of the entries in the 'Additional_Info' column are 'No info' and 'No Info'. Replace all occurrences of 'No info' with 'None'. How many flights fall under airline 'IndiGo' and have 'None' as additional information?

In [ ]:
# df["Additional_Info"].str.strip()
df["Additional_Info"].replace(["No info", "No Info"], "None", inplace= True)
((df["Airline"]=="IndiGo") & (df["Additional_Info"]=="None")).value_counts()

False    7800
True     1650
dtype: int64


**Q5** Convert the values of 'Duration' into seconds. Enter the average duration (in seconds) of a flight. Enter your answer correct to two decimal places.

In [ ]:

def convert_to_seconds(duration):
    parts = duration.split(' ')
    hours=0
    minutes=0

    if len(parts)==2:
     hours = int(parts[0][:-1])
     minutes = int(parts[1][:-1])

    elif len(parts)==1:
     if "h" in parts:
       hours = int(parts[0][:-1])
     else:
       minutes = int(parts[0][:-1])

    return hours * 3600 + minutes * 60

df['Duration_in_seconds'] = df['Duration'].apply(convert_to_seconds)

df["Duration_in_seconds"]

0       95700
1        1620
2        5400
3       54600
4       30000
        ...
9445    32100
9446    30900
9447    54900
9448    43500
9449    31500
Name: Duration_in_seconds, Length: 9450, dtype: int64

**Q6**  Transform the values in the 'dep_time' and 'arrival_time' columns to represent the hour component. For instance, if an entry is 10:05 June 13 or 10:05, the corresponding value should be 10.
Then convert the time into four categories as follows:
* 5 <= hour < 12 = Morning
* 12 <= hour < 17 = Afternoon
* 17 <= hour < 20 = Evening
* 20 <= hour < 5 = Night

Note: Please ensure that you make the changes directly within the dataset and continue to use that modified dataset for subsequent questions.

``How many flights started in the Morning and arrived the destination at Evening?``

In [ ]:
df[["Dep_Time","Arrival_Time"]]
#  split with ":" delimiter
#  applyl condions = lable

     Dep_Time  Arrival_Time
0       20:00  04:25 10 Jun
1       16:00  19:00 10 Jun
2       19:35         21:05
3       18:55  01:30 16 Jun
4       17:10         17:55
...       ...           ...
9445    19:30         19:50
9446    17:00         21:00
9447    07:05         19:45
9448    08:20         19:50
9449    14:30         23:15

[9450 rows x 2 columns]

**Q7** Encode the values of column 'WeekDay' as follows:
- Weekends (Sunday, Saturday) = 1
- all remaining five days = 0

What is the most frequent (mode) WeekDay?

In [ ]:
df_copy= df.copy()
df_copy["Day"]= np.where(df_copy["WeekDay"].isin(["Saturday", "Sunday"]), 1, 0)
print(df_copy["WeekDay"].value_counts(),end="\n ")

# Wednesday is most frequent

df_copy["WeekDay"].isin(["Sunday","Saturday"]).value_counts()


#second method
# print("weedays frequency ", ~df_copy["WeekDay"].isin(["Sunday","Saturday"]).sum());

Wednesday    1893
Monday       1597
Thursday     1590
Saturday     1546
Sunday       1253
Friday        834
Tuesday       737
Name: WeekDay, dtype: int64

False    6651
True     2799
Name: WeekDay, dtype: int64